@import "base";
@import "main-structure";
@import "elements";
@import "variables";
@import "functions";
@import "buttons";

.app-container {
  .wrapper {
    display: flex;
    width: 100%;
    .content {
      .user-welcome {
        color: #fff;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        // height: 100px;
        z-index: 1000; /* Higher z-index so it stacks on top */

        &::after {
          content: "";
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          background: inherit; /* inherits the body's background */
          height: 100px;
          z-index: 1010; /* higher than header and content */
        }
        p {
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          font-weight: 400;
        }
      }
      .content-container {
        padding: 1rem 2rem;
        position: relative;
        z-index: 0;
        /*  Content Wrapper */

        .blog-section-container {
          .slider {
            .post {
              display: flex;
              width: 100%;
              height: 264px;
              flex-direction: column;
              justify-content: center;
              gap: 16px;
              border-radius: 16px;
              background-image: url("/assets/images/post-1.jpeg");
              background-repeat: no-repeat;
              background-size: cover;
              padding: 24px;
              .details {
                display: block;
                width: 54%;

                p {
                  color: rgba(0, 0, 0, 0.4);
                }
                .rounded_btn {
                  background-color: #000;
                }
              }
            }
          }
        }
        /* Calendar Home Container */
        .calendar-container {
          margin-top: 32px;
          .calendar-listings {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .card.class {
              min-height: 119px;
              border-radius: 20px;
            }
          }
        }
        /* End Calendar Home Container */

        /* End Content Wrapper */

        /* Live sesions Page CSS */
        .list-live-sessions {
          // .large-size {
          //   display: flex;
          //   flex-wrap: wrap;
          //   .sesion-container {
          //     display: flex;
          //     border-radius: 16px;
          //     height: 427px;
          //     background: rgba(255, 255, 255, 0.06);
          //     .column-1 {
          //       flex-basis: 66.6%;
          //     }
          //     .column-2 {
          //       flex-basis: 33.3%;

          //       padding-left: 16px;
          //     }
          //     .media {
          //       img {
          //         width: 100%;
          //         height: 427px;
          //         border-radius: 16px 0 0 16px;
          //       }
          //     }
          //     .info-data {
          //       display: flex;
          //       flex-direction: column;
          //       color: #fff;
          //       height: 427px;
          //       padding: 24px;
          //       p {
          //         color: $transparent;
          //       }
          //       .meta {
          //         padding: 24px 0;
          //       }
          //       .rounded_btn {
          //         display: inline-flex;
          //         max-width: 141px;
          //         align-self: self-end;
          //         margin-top: auto;
          //         background-color: #000;
          //       }
          //     }
          //   }
          // }
        }
        /* Live sesions Page CSS */
      }
    }
  }
}
